body {
    background: white;
}

.main-header {
    width: 100vw;
    height: 50em;
    z-index: -1;
    position: relative;
    top: 0;
}

.main-header:before {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 2;
    height: 100%;
}

.header-skew:before {
  content: '';
  position: absolute;
  top: -6em;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 42em;
  background: rgba(155, 203, 209, 0.5);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
}

.header-skew:after{
  content: '';
  position: absolute;
  top: -6em;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 42em;
  background: rgba(155, 203, 209, 0.5);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
}

.main-title {
    position: relative;
    top: 25rem;
    text-align: center;
}

.header-skew-second:before {
  content: '';
  position: absolute;
  top: 35.7rem;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 7vh;
  background: rgb(206, 202, 202);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
  border-bottom: 1px solid rgba(158, 158, 158, 0.75);
  border-top: 1px solid rgba(158, 158, 158, 0.75);
}

.header-skew-second:after {
  content: '';
  position: absolute;
  top: 35.7rem;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 7vh;
  background: rgb(206, 202, 202);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
  border-bottom: 1px solid rgba(158, 158, 158, 0.75);
  border-top: 1px solid rgba(158, 158, 158, 0.75);
}

.header-skew-line:before {
  content: '';
  position: absolute;
  top: 32rem;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 1px;
  background: rgba(158, 158, 158, 0.75);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
}

.header-skew-line:after {
  content: '';
  position: absolute;
  top: 32rem;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 1px;
  background: rgba(158, 158, 158, 0.75);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
}


/* ********* MAIN ******** */
.project-section {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 0;
    border-bottom: 1px solid rgba(158, 158, 158, 0.75)
}

.project-section:before {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: -1;
}

.project-title {
    background: white;
    width: 40rem;
    margin: 0 auto 6em;
    padding: 1em 0;
    position: relative;
    border-top: 1px solid rgba(158, 158, 158, 0.75);
    border-bottom: 1px solid rgba(158, 158, 158, 0.75);
}

.project-title:before,
.project-title:after {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    display: block;
    height: 1px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.project-title h1 {
    text-align: center;
    padding: 4em;
    z-index: 1;
}

.project-container {
    width: 63em;
    margin: 0 auto;
}

.project-container:before {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: -1;
    height: 90%;
}

.project {
    width: 100%;
    height: 20em;
    display: flex;
}

.project-image {
    width: 50%;
    background: teal;
}

.project-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ********** About ********** */
.about-section {
    width: 100%;
    height: 60em;
    padding-top: 6em;
    margin-bottom: 6em;
    border-bottom: 1px solid rgba(158, 158, 158, 0.75);
}

.about-section:before {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 0;
    height: 103.1%;
}

/* .about-section:after{
    background: rgba(158, 158, 158, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 0;
    height: 100%;
} */

.about-title {
    background: white;
    width: 40rem;
    margin: 0 auto 6em;
    padding: 1em 0;
    position: relative;
    border-top: 1px solid rgba(158, 158, 158, 0.75);
    border-bottom: 1px solid rgba(158, 158, 158, 0.75);
}

.about-title:before,
.about-title:after {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    display: block;
    height: 1px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.about-title h1 {
    text-align: center;
    padding: 4em;
    z-index: 1;
}

.about-container {
    width: 63em;
    margin: 0 auto;
    border-top: 1px solid rgba(158, 158, 158, 0.75);
    border-bottom: 1px solid rgba(158, 158, 158, 0.75);
}

.about-me {
    width: 100%;
    height: 25em;
    display: flex;
    padding: 2em 0;
}

.my-image {
    width: 50%;
    background: teal;
}

.my-bio{
    width: 50%;
}

/* ********* Skills ********* */


/* ********* Footer ********** */
footer {
    width: 100%;
    height: 8em;
    z-index: -1;
    position: relative;
    bottom: 0;
}

/* .footer-content:before {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 2;
    height: 100%;
} */

.footer-content {
    width: 100%;
    background: rgb(155, 203, 209);
    height: 35rem;
}

.footer-skew:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 15em;
  background: rgb(155, 203, 209);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
}

.footer-skew:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 15em;
  background: rgb(155, 203, 209);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
}

.footer-skew-second:before {
  content: '';
  position: absolute;
  bottom: 15em;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 7vh;
  background: rgb(206, 202, 202);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
  border-bottom: 1px solid rgba(158, 158, 158, 0.75);
  border-top: 1px solid rgba(158, 158, 158, 0.75);
}

.footer-skew-second:after {
  content: '';
  position: absolute;
  bottom: 15em;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 7vh;
  background: rgb(206, 202, 202);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
  border-bottom: 1px solid rgba(158, 158, 158, 0.75);
  border-top: 1px solid rgba(158, 158, 158, 0.75);
}

.footer-skew-line:before {
  content: '';
  position: absolute;
  bottom: 11em;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 1px;
  background: rgba(158, 158, 158, 0.75);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
}

.footer-skew-line:after {
  content: '';
  position: absolute;
  bottom: 11em;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 1px;
  background: rgba(158, 158, 158, 0.75);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
}
