body {
    background: whitesmoke;
    font-family: Helvetica, sans-serif;
}

.main-header {
    height: 50em;
    z-index: -1;
    position: relative;
    top: 0;
}

.main-header:before {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 2;
    height: 100%;
}

.header-skew:before {
  content: '';
  position: absolute;
  top: -6em;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 42em;
  background: rgba(155, 203, 209, 0.5);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
}

.header-skew:after{
  content: '';
  position: absolute;
  top: -6em;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 42em;
  background: rgba(155, 203, 209, 0.5);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
}

.main-title {
    position: relative;
    top: 2.7em;
    text-align: center;
    font-size: 4em;
    z-index: 4;
}

.second-title {
  color: black;
  max-width: 15em;
  font-size: 2em;
  letter-spacing: 3px;
  position: relative;
  top: 7em;
  left: 39%;
  z-index: 4;
}

/*Vertical Sliding*/
.sliding-vertical {
	text-indent: 8px;
}
.sliding-vertical span{
	animation: topToBottom 17.5s linear infinite 0s;
	-ms-animation: topToBottom 17.5s linear infinite 0s;
	-webkit-animation: topToBottom 17.5s linear infinite 0s;
	color: black;;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.sliding-vertical span:nth-child(2){
	animation-delay: 3.5s;
	-ms-animation-delay: 3.5s;
	-webkit-animation-delay: 3.5s;
}
.sliding-vertical span:nth-child(3){
	animation-delay: 7s;
	-ms-animation-delay: 7s;
	-webkit-animation-delay: 7s;
}
.sliding-vertical span:nth-child(4){
	animation-delay: 10.5s;
	-ms-animation-delay: 10.5s;
	-webkit-animation-delay: 10.5s;
}

.sliding-vertical span:nth-child(5){
	animation-delay: 14s;
	-ms-animation-delay: 14s;
	-webkit-animation-delay: 14s;
}

/* topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

.header-skew-second:before {
  content: '';
  position: absolute;
  top: 35.7rem;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 7vh;
  background: rgb(206, 202, 202);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
  border-bottom: 1px solid rgba(158, 158, 158, 0.75);
  border-top: 1px solid rgba(158, 158, 158, 0.75);
}

.header-skew-second:after {
  content: '';
  position: absolute;
  top: 35.7rem;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 7vh;
  background: rgb(206, 202, 202);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
  border-bottom: 1px solid rgba(158, 158, 158, 0.75);
  border-top: 1px solid rgba(158, 158, 158, 0.75);
}

.header-skew-line:before {
  content: '';
  position: absolute;
  top: 32rem;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 1px;
  background: rgba(158, 158, 158, 0.75);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
}

.header-skew-line:after {
  content: '';
  position: absolute;
  top: 32rem;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 1px;
  background: rgba(158, 158, 158, 0.75);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
}


/* ********* MAIN ******** */
.project-section {
    position: relative;
    /* margin: 0 auto; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
    border-bottom: 1px solid rgba(158, 158, 158, 0.75)
}

.project-section:before {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: -1;
}

.project-title {
    background: whitesmoke;
    width: 40rem;
    margin: 0 auto 6em;
    padding: 1em 0;
    position: relative;
    border-top: 1px solid rgba(158, 158, 158, 0.75);
    border-bottom: 1px solid rgba(158, 158, 158, 0.75);
    z-index: 1;
}

.project-title:before,
.project-title:after {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    display: block;
    height: 1px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.project-title h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 1.5em;
    z-index: 2;
}

.project-container {
    width: 63em;
    margin: 0 auto;
}

.project-container:before {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: -1;
    height: 90%;
}

.project {
    width: 100%;
    height: 20em;
    display: flex;
}

.project-image {
    width: 50%;
    background: teal;
    position: relative;
}

.project.left img {
    width: 100%;
    height: 100%;
    border-right: 1px solid whitesmoke;
    border-radius: 5px 0 0 5px;
}

.project.right img {
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0 ;
}

.project-overlay.left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .75s ease;
}

.project-overlay.right {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .75s ease;
}

.project-image:hover .project-overlay.right {
  width: 100%;
  left: 0;
}

.project-image:hover .project-overlay.left {
  width: 100%;
}

.project-text.left {
  color: white;
  font-size: 1.2em;
  position: absolute;
  width: 15em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.project-text.right {
  color: white;
  font-size: 1.2em;
  width: 15em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.project-text p {
    width: 120%;
    line-height: 2;
}

.project-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-content h1 {
    font-size: 1.7em;
    font-weight: 550;
    margin-bottom: 1em;
    letter-spacing: 1px;
}

.project-content p {
    max-width: 85%;
}

/* ********** About ********** */
.about-section {
    width: 100%;
    height: 52em;
    padding-top: 6em;
    border-bottom: 1px solid rgba(158, 158, 158, 0.75);
}

.about-section:before {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 0;
    height: 103.1%;
}

.about-section:after{
    background: rgba(158, 158, 158, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 0;
    height: 100%;
}

.about-title {
    background: whitesmoke;
    width: 40rem;
    margin: 0 auto 6em;
    padding: 1em 0;
    position: relative;
    border-top: 1px solid rgba(158, 158, 158, 0.75);
    border-bottom: 1px solid rgba(158, 158, 158, 0.75);
}

.about-title:before,
.about-title:after {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    display: block;
    height: 1px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.about-title h1 {
    text-align: center;
    font-size: 2.5em;
    padding: 1.5em;
    z-index: 1;
}

.about-container {
    width: 59em;
    margin: 0 auto;
    background: whitesmoke;
    border-top: 1px solid rgba(158, 158, 158, 0.75);
    border-bottom: 1px solid rgba(158, 158, 158, 0.75);
    position: relative;
    z-index: 2;
}

.about-me {
    width: 100%;
    height: 25em;
    display: flex;
    padding: 2em 0;
}

.my-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-image img {
    width: 55%;
    height: 70%;
    border-radius: 10px;
}

.my-bio{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-bio p {
    max-width: 90%;
    margin: 1em auto;
    line-height: 1.5;
}

.my-bio a {
    border-bottom: 1px dotted black;
}

/* ********* Skills ********* */
.skill-section {
    width: 100%;
    padding-top: 6em;
    margin-bottom: 6em;
}

.skill-section:after {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    left: 50%;
    position: absolute;
    width: 1px;
    z-index: 1;
    height: 90%;
}

.skill-title {
    background: whitesmoke;
    width: 40rem;
    margin: 0 auto 6em;
    padding: 1em 0;
    position: relative;
    border-top: 1px solid rgba(158, 158, 158, 0.75);
    border-bottom: 1px solid rgba(158, 158, 158, 0.75);
}

.skill-title:before,
.skill-title:after {
    background: rgba(158, 158, 158, 0.75);
    content: '';
    display: block;
    height: 1px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.skill-title h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 1.5em;
    z-index: 1;
}

.skill-container {
    width: 85%;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 2em 0;
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(158, 158, 158, 0.75);
    border-bottom: 1px solid rgba(158, 158, 158, 0.75);
}

.skill-row {
    display: flex;
    width: 100%;
    margin: 3em auto;
}

.skill {
    max-width: 8em;
    max-height: 8em;
    margin: auto 1em;
    transition: .75s ease-in-out;
}

.skill:hover {
    transform: scale(1.5);
}



.skill.gulp {
    margin: 0 1em;
}

.skill.med {
    max-width: 7em;
    max-height: 6em;
}

.skill.small {
    max-width: 5.5em;
    max-height: 5.5em;
}

.skill img {
    width: 100%;
    height: auto;
}

.skill img.gulp-svg {
    max-height: 8em;
}

/* ********* Footer ********** */
footer {
    width: 100%;
    height: 8em;
    z-index: 3;
    position: relative;
    bottom: -16em;
}

.footer-content {
    width: 100%;
    background: rgb(155, 203, 209);
    height: 30em;
    z-index: 3;
}

.footer-skew:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 14.5em;
  background: rgb(155, 203, 209);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
}

.footer-skew:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 14.5em;
  background: rgb(155, 203, 209);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
}

.footer-skew-second:before {
  content: '';
  position: absolute;
  bottom: 14.5em;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 6vh;
  background: rgb(206, 202, 202);
  z-index: 3;
  transform: skewY(13deg);
  backface-visibility: initial;
  border-bottom: 1px solid rgba(158, 158, 158, 0.75);
  border-top: 1px solid rgba(158, 158, 158, 0.75);
}

.footer-skew-second:after {
  content: '';
  position: absolute;
  bottom: 14.5em;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 6vh;
  background: rgb(206, 202, 202);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
  border-bottom: 1px solid rgba(158, 158, 158, 0.75);
  border-top: 1px solid rgba(158, 158, 158, 0.75);
}

.footer-skew-line:before {
  content: '';
  position: absolute;
  bottom: 11em;
  left: 0;
  overflow: visible;
  width: 50%;
  height: 1px;
  background: rgba(158, 158, 158, 0.75);
  z-index: 0;
  transform: skewY(13deg);
  backface-visibility: initial;
}

.footer-skew-line:after {
  content: '';
  position: absolute;
  bottom: 11em;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 1px;
  background: rgba(158, 158, 158, 0.75);
  z-index: 0;
  transform: skewY(-13deg);
  backface-visibility: initial;
}

.footer {
    width: 100%;
    height: 6em;
    color: white;
    position: relative;
    top: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    padding-left: 2em;
}

.footer ul {
    list-style: none;
    padding-right: 2em;
}

.footer li {
     display: inline;
     padding: 0 2em;
     cursor: pointer;
}